 
<!--Policy Section Start-->	
  <section>
			<div class="policy-area bg-light">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 mtb-50">
							<div class="bg-white shadow p-0">
								<div class="policy-title bg-default info-title p-42">
									<h4 class="font-weight-bold text-white">Cancellations and Returns</h4>
								</div><!--Title End-->
								<div class="bg-white shadow p-4">
									<div class="accordion" id="accordionExample">
										  <div class="card">
											<div class="card-header" id="">
											  <h5 class="mb-0">
												<div class="btn-link" type="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
												  <b>If I request for a replacement, when will I get it?</b>
												</div>
											  </h5>
											</div>
											<div id="collapseOne" class="collapse" aria-labelledby="" data-parent="#accordionExample">
											  <div class="card-body">
												<p class="text-justify">Visit My Orders to check the status of your replacement.</p>

												<p class="text-justify">In most locations, the replacement item is delivered to you at the time of pick-up. In all other areas, the replacement is initiated after the originally delivered item is picked up. Please check the SMS & email we send you for your replacement request for more details.</p>
											  </div>
											</div>
										  </div>
										  <div class="card">
											<div class="card-header" id="">
											  <h5 class="mb-0">
												<div class="btn-link" type="" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
												  <b>Can items be returned after the time period mentioned in the seller's Returns Policy?</b>
												</div>
											  </h5>
											</div>
											<div id="collapseTwo" class="collapse" aria-labelledby="" data-parent="#accordionExample">
											  <div class="card-body">
												<p class="text-justify">No, sellers will not be able to accept returns after the time period mentioned in the seller's Returns Policy.</p>
											  </div>
											</div>
										  </div>
										  <div class="card">
											<div class="card-header" id="">
											  <h5 class="mb-0">
												<div class="btn-link" type="" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
												  <b>Do I have to return the freebie when I return a product?</b>
												</div>
											  </h5>
											</div>
											<div id="collapseThree" class="collapse" aria-labelledby="" data-parent="#accordionExample">
											  <div class="card-body">
												<p class="text-justify">Yes, the freebie has to be returned along with the product.</p>
											  </div>
											</div>
										  </div>
										  <div class="card">
											<div class="card-header" id="">
											  <h5 class="mb-0">
												<div class="btn-link" type="" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
												  <b>How do returns work?</b>
												</div>
											  </h5>
											</div>
											<div id="collapseFour" class="collapse" aria-labelledby="" data-parent="#accordionExample">
											  <div class="card-body">
												<p class="text-justify">You can raise a request to return your items with these simple steps:</p>
												<div class="note">
													<ul class="icon-circle">
														<li> Log into your Gaia Healthcare DMCC account</li>
														<li>Go to My Orders</li>
														<li>Click on 'Return' against the item you wish to return or exchange</li>
														<li>Fill in the details and raise a return request</li>
													</ul><!--Note List End-->
												</div><!--Note Block End--><br>
												<p class="text-justify">Once you raise a request, you'll get an email and SMS confirming that your request is being processed. Based on the item, your request may be automatically approved or you may be contacted for more details. If the request is approved, the item will be picked up after which you will get a replacement or refund. You can also track the status of your return request instantly from the 'My Orders' section of your Gaia Healthcare DMCC account.</p>
											  </div>
											</div>
										  </div>
										  <div class="card">
											<div class="card-header" id="">
											  <h5 class="mb-0">
												<div class="btn-link" type="" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
												  <b>I see the 'Cancel' button but I can't click on it. Why?</b>
												</div>
											  </h5>
											</div>
											<div id="collapseFive" class="collapse" aria-labelledby="" data-parent="#accordionExample">
											  <div class="card-body">
												<p class="text-justify">A greyed out and disabled 'Cancel' button can mean any one of the following:</p>
												<div class="note">
													<ul class="icon-circle">
														<li>The item has been delivered already</li>OR
														<li>The item is non-refundable (e.g. Gift Card)</li>
													</ul><!--Note List End-->
												</div><!--Note Block End--><br>
											  </div>
											</div>
										  </div>
										  <div class="card">
											<div class="card-header" id="">
											  <h5 class="mb-0">
												<div class="btn-link" type="" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
												  <b>What is the Buyer Protection policy?</b>
												</div>
											  </h5>
											</div>
											<div id="collapseSix" class="collapse" aria-labelledby="" data-parent="#accordionExample">
											  <div class="card-body">
												<p class="text-justify">The Buyer Protection policy mediates buyer-seller disputes. In case a seller declines your request for a return of an item and you are not convinced with the reason given, you can write to us at resolution@Gaia Healthcare DMCC.com for Buyer Protection. You can dispute the resolution that the seller has shared for your issue until 45 days from the date of delivery and concern is looked into by us on a case-to-case basis.</p>
											  </div>
											</div>
										  </div>
										  <div class="card">
											<div class="card-header" id="">
											  <h5 class="mb-0">
												<div class="btn-link" type="" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
												  <b>I ordered a wrong item. Can I return it?</b>
												</div>
											  </h5>
											</div>
											<div id="collapseSeven" class="collapse" aria-labelledby="" data-parent="#accordionExample">
											  <div class="card-body">
												<p class="text-justify">
												The sellers' return policies don't support the return of item(s) ordered wrongly. You can refer the respective seller's Returns policy on the product page.</p>
											  </div>
											</div>
										  </div> 
										  <div class="card">
											<div class="card-header" id="">
											  <h5 class="mb-0">
												<div class="btn-link" type="" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
												  <b>Can I change the address for the pick-up the of item(s) in my order?</b>
												</div>
											  </h5>
											</div>
											<div id="collapseEight" class="collapse" aria-labelledby="" data-parent="#accordionExample">
											  <div class="card-body">
												<p class="text-justify">
												If the pincode of the new address is serviceable for pick-up, the address can be changed while creating the return. The address cannot be changed in case the new address is not serviceable.</p>
											  </div>
											</div>
										  </div>
										  <div class="card">
											<div class="card-header" id="">
											  <h5 class="mb-0">
												<div class="btn-link" type="" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
												  <b>Can I change the address for the pick-up the of item(s) in my order?</b>
												</div>
											  </h5>
											</div>
											<div id="collapseNine" class="collapse" aria-labelledby="" data-parent="#accordionExample">
											  <div class="card-body">
												<p class="text-justify">
												If the pincode of the new address is serviceable for pick-up, the address can be changed while creating the return. The address cannot be changed in case the new address is not serviceable.</p>
											  </div>
											</div>
										  </div>
										   <div class="card">
											<div class="card-header" id="">
											  <h5 class="mb-0">
												<div class="btn-link" type="" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
												  <b>How long does it take to cancel an order?</b>
												</div>
											  </h5>
											</div>
											<div id="collapseTen" class="collapse" aria-labelledby="" data-parent="#accordionExample">
											  <div class="card-body">
												<p class="text-justify">
												Cancellation of item(s) in an order happens immediately if the order hasn't been shipped yet by the seller. If your order has been shipped, it will be cancelled as soon as the courier service confirms that the shipment is being returned to the seller. Orders from certain categories cannot be cancelled after 24 hours, please check the product page for more details.</p>
											  </div>
											</div>
										  </div>
										  
										  
										  
										</div>
									
									
									
									
									
									
								</div>
							</div><!--Background and Shadow End-->
						</div><!--Grid End-->
					</div><!--Row End-->
				</div><!--Container End-->
			</div><!--Policy Are End-->
    </section><!--Policy Section End-->		
     