<!-- Footer Area Start -->
<footer>
  <div class="footer-container">
      <!--Footer Top Area Start-->
      <div class="footer-top-area ptb-50 text-center">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col">
          <div class="footer-title">
            <h3>Customer Service</h3>
          </div>
          <div class="footer-nav">
            <nav>
              <ul>
                <li><a [routerLink]="['/contact-us']">Contact Us</a></li>
                <li><a  [routerLink]="['/store-locator']">How to Order</a></li>
              </ul>
            </nav>
          </div>
        </div>
            <div class="col">
          <div class="footer-title">
            <h3>Policies</h3>
          </div>
          <div class="footer-nav">
            <nav>
              <ul>
                <li><a [routerLink]="['/return-exchange']">Cancellation, Return and Exchange</a></li>
                <li><a  [routerLink]="['/ship-delivery']">Shipping & Delivery</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col row">
          <div class="col-6"><a (click)="underConstruction()"><img style="cursor:pointer" src="./assets/img/google-play.png"/></a></div>
          <div class="col-6"><a (click)="underConstruction()"><img style="cursor:pointer"  src="./assets/img/app-store.png"/></a></div>
        </div>
              </div>
          </div>
      </div>
      <!--Footer Top Area End-->
      <!--Footer Bottom Area Start-->
      <div class="footer-bottom-area">
          <div class="container text-center">
              <p>
        © Copyrights Reserved @ 2018 | 
        <a [routerLink]="['/privacy']">Privacy Policy</a> | 
        <a [routerLink]="['/terms']">Terms of Use</a>
      </p>
          </div>
      </div>
      <!--Footer Bottom Area End-->
  </div>
</footer>
<!-- Footer Area End -->
