 
<!--Breadcrumb Start--> 
<div class="breadcrumb-area">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="breadcrumb-content">
                  <ul>
                      <li><a href="index.html">Home</a></li>
                      <li><a href="#">Cares</a></li>
                      <li class="active"><a href="#">Body Care</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<!--Breadcrumb End-->
<!--Category Banner Area Start-->
<div class="category-banner-top-area">
  <div class="container-fluid">
      <div class="category-banner">
          <div class="row">
              <div class="column-1">
                  <img src="assets/img/banner/category/banner1.jpg" alt="" />
              </div>
              <div class="column-2">
                  <div class="hor-100">
                      <img src="assets/img/banner/category/banner2.jpg" alt="" />
                  </div>
                  <div class="ver-50">
                      <img src="assets/img/banner/category/banner3.jpg" alt="" />
                  </div>
                  <div class="ver-50">
                      <img src="assets/img/banner/category/banner4.jpg" alt="" />
                  </div>
              </div>
              <div class="column-3">
                      <img src="assets/img/banner/category/banner5.jpg" alt="" />
              </div>
          </div>
      </div>
  </div>
</div>
<!--Category Banner Area End-->
<!--Product Filter Area Start-->
<div class="product-filter-area pt-30">
  <div class="container">
      <div class="row product-block-mob">
          <div class="col">
              <div class="filter-init">
                  <span class="toggle-filter-icon">
                      <button href="#show-hide" title="" class="show-hide">
                          <i class="zmdi zmdi-chevron-up"></i> 
                          <span>Filter</span>
                      </button>
                  </span>
              </div>
          </div>
          <div class="col">
              <div class="clear text-right">
                  <a href="#" title="">Clear</a>
              </div>
          </div>
      </div>
      <div class="w-100"></div>
      <div class="row product-block">
          <div class="col col-md-2">
              <div class="filter-init">
                  <span class="toggle-filter-icon">
                      <button href="#show-hide" title="" class="show-hide">
                          <i class="zmdi zmdi-chevron-up"></i>
                      </button>
                  </span>
                  <span class="gender-title">Gender</span>
              </div>
          </div>
          <div class="col col-md-2">
              <div class="categories">
                  <span>Categories</span>
                  <span class="float-right"><a href="#" title="Others">Others</a></span>
              </div>
          </div>
          <div class="col col-md-3">
              <div class="brands">
                  <form>
                      <div class="form-group row">
                          <label for="staticEmail" class="col-sm-4 col-form-label">Brands</label>
                          <div class="col-sm-8">
                              <input type="text" class="" id="staticEmail" />
                          </div>
                      </div>
                  </form>                                            
              </div>
          </div>
          <div class="col col-md-2">
              <div class="price">
                  <p>Price [AED]</p>
              </div>
          </div>
          <div class="col col-md-2">
              <div class="ratings">
                  <p>Ratings</p>
              </div>
          </div>
          <div class="col col-md-1">
              <div class="clear">
                  <a href="#" title="">Clear</a>
              </div>
          </div>
      </div>
      <!--Product Filter Hideen Area Start-->
      <div id="show-hide-block">
          <div class="row product-block-child">
              <div class="col-12 col-md-2">
                  <div class="gender-title d-block d-sm-none">
                      <h4 class="title mb-20">Gender</h4>
                  </div>
                  <div class="gender-title-child">
                      <ul class="gender-select-ver">
                          <li><a href="#" title="">Men</a></li>
                          <li><a href="#" title="">Women</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-12 col-md-2 mt-20">
                  <div class="categories-title d-block d-sm-none">
                      <div class="categories mb-20">
                          <span class="title">Categories</span>
                          <span class="float-right"><a href="#" title="Others">Others</a></span>
                      </div>
                  </div>
                  <div class="categories-child">
                      <ul class="tags-list">
                          <li><a href="#">Body Care</a></li>
                          <li class="active"><a href="#">Lotion & Oils</a></li>
                          <li><a href="#">Hair Care</a></li>
                          <li><a href="#">Face Care</a></li>
                          <li><a href="#">Lips Care</a></li>
                          <li><a href="#">Eye</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-12 col-md-3 mt-20">
                  <div class="brands-title d-block d-sm-none">
                      <div class="brands">
                          <form>
                              <div class="form-group row mb-20">
                                  <label for="staticEmail" class="col col-form-label title border-right-0">Brands</label>
                                  <div class="col">
                                      <input type="text" class="" id="staticEmail" placeholder="Search Brand" />
                                  </div>
                              </div>
                          </form>                                            
                      </div>
                  </div>
                  <div class="brands-child">
                      <ul class="tags-list">
                          <!-- <li><a href="#" title="" class="active">Epitact</li>
                          <li><a href="#" title="">Eau de Jonzac</a></li>
                          <li><a href="#" title="">Filorga</a></li>
                          <li><a href="#" title="">Foucaud</a></li>
                          <li><a href="#" title="">Govtital</a></li>
                          <li><a href="#" title="">Granions</a></li> -->
                      </ul>
                  </div>
              </div>
              <div class="col-12 col-md-2 mt-20">
                  <div class="price-title d-block d-sm-none">
                      <h4 class="title mb-20">Price (AED)</h4>
                  </div>
                  <div class="price">
                      <form method="post" action="#">
                          <div id="range-slider">
                              <div class="min-max text-center mb-20">
                                  <div class="eq-width">
                                      <label>Min</label> <br/>
                                      <input type="text" id="min" />
                                  </div>
                                  <div class="eq-width">
                                      <label>Max</label> <br/>
                                      <input type="text" id="max" />
                                  </div>
                              </div>
                              <div id="price-range" class="mt-20"></div>
                              <div class="mt-20">
                                  <div class="eq-width">
                                      <span>AED</span><input type="text" id="min1" readonly />
                                  </div>
                                  <div class="eq-width text-right">
                                      <span>AED</span><input type="text" id="max1" readonly />
                                  </div>
                              </div>
                          </div>
                          <div class="clearfix"></div>
                          <a class="btn view-all-btn btn-block">GO</a>
                      </form>
                  </div>
              </div>
              <div class="col-12 col-md-3 mt-20">
                  <div class="rating-title d-block d-sm-none">
                      <h4 class="title mb-20">Ratings</h4>
                  </div>
                  <div class="ratings">
                      <ul class="rating-hor">
                          <li><a href="#">1 & Above</a></li>
                          <li><a href="#">2 & Above</a></li><li><a href="#">3 & Above</a></li>
                          <li><a href="#">4 & Above</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!--Product Filter Area End--> 
<!--Shop Area Start--> 
<div class="shop-area pt-30">
  <div class="container">
      <div class="col-lg-12 order-1 order-lg-2">
          <div class="shop-layout">
              <div class="row">
                  <div class="col-12">
                      <div class="shop-banner text-center">
                          <h4>Amazing Offer Just for You</h4>
                      </div>
                  </div>
              </div>
              <!-- Amazing Offer Area Start -->
              <div class="category-amazing-section-area mb-50">
                  <div class="container">
                      <div class="row">                                                						
                          <div class="category-amazing-slider owl-carousel">
                              <!--Slider Item 1-->
                              <div class="item-group">
                                  <a (click)="product('1','1')">
                                      <div class="item-img">									
                                          <img src="http://167.99.153.79:8080/gaia_ecom_admin/gaiafiles?form=product&type=3&id=1" alt="" />									
                                      </div>
                                      <div class="item-title">
                                            Optimum Nutrition (ON) Gold Standard 100% Whey Protein Powder - 5 lbs, 2.27 kg (Double Rich Chocolate)
                                      </div>
                                  </a>
                                  <div class="price-info">
                                      <p class="sale-price">AED 3.00</p>
                                      <p class="actual-price">AED 5.40</p>
                                  </div>
                              </div>
                              <!--Slider Item 1-->
                              <!--Slider Item 2-->
                              <div class="item-group">
                                  <a (click)="product('3','2')">
                                      <div class="item-img">									
                                          <img src="http://167.99.153.79:8080/gaia_ecom_admin/gaiafiles?form=product&type=3&id=3" alt="" />									
                                      </div>
                                      <div class="item-title">
                                            Optimum Nutrition (ON) Gold Standard 100% Whey Protein Powder - 5 Lbs, 2.27 Kg (Double Rich Chocolate)
                                      </div>
                                  </a>
                                  <div class="price-info">
                                      <p class="sale-price">AED 2.04</p>
                                      <p class="actual-price">AED 4.64</p>
                                  </div>
                              </div>
                              <!--Slider Item 2-->
                              <!--Slider Item 3-->
                              <div class="item-group">
                                  <a (click)="product('4','16')">
                                      <div class="item-img">									
                                          <img src="http://167.99.153.79:8080/gaia_ecom_admin/gaiafiles?form=product&type=3&id=4" alt="" />									
                                      </div>
                                      <div class="item-title">
                                            MuscleBlaze Whey Protein (Rich Milk Chocolate)
                                      </div>
                                  </a>
                                  <div class="price-info">
                                      <p class="sale-price">AED 2.60</p>
                                      <p class="actual-price">AED 5.04</p>
                                  </div>
                              </div>
                              <!--Slider Item 3-->
                              <!--Slider Item 4-->
                              <div class="item-group">
                                  <a (click)="product('5','1')">
                                      <div class="item-img">									
                                          <img src="http://167.99.153.79:8080/gaia_ecom_admin/gaiafiles?form=product&type=3&id=5" alt="" />									
                                      </div>
                                      <div class="item-title">
                                            Protinex - 250 G (Tasty Chocolate)
                                      </div>
                                  </a>
                                  <div class="price-info">
                                      <p class="sale-price">AED 3.08</p>
                                      <p class="actual-price">AED 4.07</p>
                                  </div>
                              </div>
                              <!--Slider Item 4-->
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Top Selling Area End -->
              <!-- Exclusives Area Start -->
              <div class="exclusive-area mb-50">
                  <div class="container">
                      <div class="row">
                          <!--Section Title Start-->
                          <div class="col-12">
                              <div class="section-title text-center">
                                  <h2>Exclusives</h2>
                              </div>
                          </div>
                          <!--Section Title End-->
                          <div class="col-md-12">
                              <div class="row img-full">
                                  <img src="assets/img/banner/category/content-banner.jpg" alt="" />
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Exclusive Area End -->
              <!-- Best Selling Products Section Area Start-->
              <div class="best-selling-area mb-50">
                  <div class="container">
                      <div class="row">
                          <!--Section Title Start-->
                          <div class="col-12">
                              <div class="section-title text-center">
                                  <h2>Best Selling Products</h2>
                              </div>
                          </div>
                          <!--Section Title End-->
                          <div class="bestselling-slider owl-carousel">
                              <!--Slider Item 1-->
                              <div class="item-group">
                                  <a href="#">
                                      <div class="item-img">									
                                          <img src="assets/img/category/bestselling/item1.jpg" alt="" />									
                                      </div>
                                      <div class="item-title">
                                          Awals Jungle Night Safari LED Light Tent House
                                      </div>
                                  </a>
                                  <div class="price-info">
                                      <p class="sale-price">AED 14.82</p>
                                      <p class="actual-price">AED 28.65</p>
                                  </div>
                              </div>
                              <!--Slider Item 1-->
                              <!--Slider Item 2-->
                              <div class="item-group">
                                  <a href="#">
                                      <div class="item-img">									
                                          <img src="assets/img/category/bestselling/item2.jpg" alt="" />									
                                      </div>
                                      <div class="item-title">
                                          Intex inflatable baby pool  (Multicolor)
                                      </div>
                                  </a>
                                  <div class="price-info">
                                      <p class="sale-price">AED 3.08</p>
                                      <p class="actual-price">AED 8.65</p>
                                  </div>
                              </div>
                              <!--Slider Item 2-->
                              <!--Slider Item 3-->
                              <div class="item-group">
                                  <a href="#">
                                      <div class="item-img">									
                                          <img src="assets/img/category/bestselling/item3.jpg" alt="" />									
                                      </div>
                                      <div class="item-title">
                                          Intex Swim Center™ Family Lounge Pool  (Multicolor)
                                      </div>
                                  </a>
                                  <div class="price-info">
                                      <p class="sale-price">AED 23.04</p>
                                      <p class="actual-price">AED 28.65</p>
                                  </div>
                              </div>
                              <!--Slider Item 3-->
                              <!--Slider Item 4-->
                              <div class="item-group">
                                  <a href="#">
                                      <div class="item-img">									
                                          <img src="assets/img/category/bestselling/item1.jpg" alt="" />									
                                      </div>
                                      <div class="item-title">
                                          Bioderma Crealine (Sensibio) TS H2O Micelle Solution 2 x 500ml
                                      </div>
                                  </a>
                                  <div class="price-info">
                                      <p class="sale-price">AED 15.99</p>
                                      <p class="actual-price">AED 18.65</p>
                                  </div>
                              </div>
                              <!--Slider Item 4-->
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Best Selling Products Section Area End-->
          </div>
      </div>
      <div class="col-lg-3 order-2 order-lg-1" style="display: none">
          <!--category Widget Start-->
          <div class="shop-sidebar">
              <h4>Filter</h4>
              <div id="shop-cate-toggle" class="category-menu sidebar-menu sidbar-style">
                  <ul class="category-sub-menu">
                      <li class="has-sub"><a href="#">dresses</a>
                          <ul class="category-sub">
                              <li><a href="shop.html">Casual Dresses</a></li>
                              <li><a href="shop.html">Maxi Dresses</a></li>
                              <li><a href="shop.html">Midi Dresses</a></li>
                              <li><a href="shop.html">Bodycon Dresses</a></li>
                          </ul>
                      </li>
                      <li class="has-sub"><a href="#">shoes</a>
                          <ul class="category-sub">
                              <li><a href="shop.html">Athletic</a></li>
                              <li><a href="shop.html">Boots</a></li>
                              <li><a href="shop.html">Comfort</a></li>
                              <li><a href="shop.html">Fashion Sneakers</a></li>
                          </ul> 
                      </li>
                      <li class="has-sub"><a href="#">Handbags</a>
                          <ul class="category-sub">
                              <li><a href="shop.html">Backpack</a></li>
                              <li><a href="shop.html">Shoulder Bags</a></li>
                              <li><a href="shop.html">Mini Bags</a></li>
                              <li><a href="shop.html">Bucket Bags</a></li>
                          </ul>
                      </li>
                      <li class="has-sub"><a href="#">Brands</a>
                          <!--Properties Checkbox Start-->
                          <div class="filter-sub-title">
                              <div class="categori-checkbox">
                                  <form action="#">
                                      <ul class="category-sub">
                                          <li><input type="checkbox" name=product-categori><a href="#">Colorful Dress (2)</a></li>
                                          <li><input type="checkbox" name=product-categori><a href="#">Maxi Dress (2)</a></li>
                                          <li><input type="checkbox" name=product-categori><a href="#">Maxi Dress (2)</a></li>
                                          <li><input type="checkbox" name=product-categori><a href="#">Short Dress (4)</a></li>
                                          <li><input type="checkbox" name=product-categori><a href="#">Short Sleeve (3)</a></li>
                                      </ul>
                                  </form>
                              </div>
                          </div>
                          <!--Properties Checkbox End-->
                      </li>
                  </ul>                                    
              </div>
          </div>
          <!--category Widget Start-->
          <!--Filter Widget Start-->
          <div class="shop-sidebar" style="display: none;">
              <h4>Filter By</h4>
              <button class="clear-all">clear all</button>
              <!--Categori Checkbox Start-->
              <div class="filter-sub-title">
                  <h5>Categories</h5>
                  <div class="categori-checkbox">
                      <form action="#">
                          <ul>
                              <li><input type="checkbox" name=product-categori><a href="#">dresses (13)</a></li>
                              <li><input type="checkbox" name=product-categori><a href="#">shoes (13)</a></li>
                              <li><input type="checkbox" name=product-categori><a href="#">Handbags (13)</a></li>
                              <li><input type="checkbox" name=product-categori><a href="#">Clothing (13)</a></li>
                          </ul>
                      </form>
                  </div>
              </div>
              <!--Categori Checkbox End-->
              <!--Price Checkbox Start-->
              <div class="filter-sub-title">
                  <h5>Price</h5>
                  <div class="price-checkbox">
                      <form action="#">
                          <ul>
                              <li><input type="radio" name="price-filter" checked><a href="#">$15.00 - $17.00 (3)</a></li>
                              <li><input type="radio" name="price-filter"><a href="#">$23.00 - $27.00 (4)</a></li>
                              <li><input type="radio" name="price-filter"><a href="#">$28.00 - $32.00 (4)</a></li>
                              <li><input type="radio" name="price-filter"><a href="#">$50.00 - $53.00 (2)</a></li>
                          </ul>
                      </form>
                  </div>
              </div>
              <!--Price Checkbox End-->
              <!--Compositions Checkbox Start-->
              <div class="filter-sub-title">
                  <h5>Compositions</h5>
                  <div class="categori-checkbox">
                      <form action="#">
                          <ul>
                              <li><input type="checkbox" name=product-categori><a href="#">Cotton (5)</a></li>
                              <li><input type="checkbox" name=product-categori><a href="#">Polyester (4)</a></li>
                              <li><input type="checkbox" name=product-categori><a href="#">Viscose (4)</a></li>
                          </ul>
                      </form>
                  </div>
              </div>
              <!--Compositions Checkbox End-->
              <!--Styles Checkbox Start-->
              <div class="filter-sub-title">
                  <h5>Styles</h5>
                  <div class="categori-checkbox">
                      <form action="#">
                          <ul>
                              <li><input type="checkbox" name=product-categori><a href="#">Casual (5)</a></li>
                              <li><input type="checkbox" name=product-categori><a href="#">Dressy (2)</a></li>
                              <li><input type="checkbox" name=product-categori><a href="#">Girly (6)</a></li>
                          </ul>
                      </form>
                  </div>
              </div>
              <!--Styles Checkbox End-->
              <!--Properties Checkbox Start-->
              <div class="filter-sub-title">
                  <h5>Properties</h5>
                  <div class="categori-checkbox">
                      <form action="#">
                          <ul>
                              <li><input type="checkbox" name=product-categori><a href="#">Colorful Dress (2)</a></li>
                              <li><input type="checkbox" name=product-categori><a href="#">Maxi Dress (2)</a></li>
                              <li><input type="checkbox" name=product-categori><a href="#">Maxi Dress (2)</a></li>
                              <li><input type="checkbox" name=product-categori><a href="#">Short Dress (4)</a></li>
                              <li><input type="checkbox" name=product-categori><a href="#">Short Sleeve (3)</a></li>
                          </ul>
                      </form>
                  </div>
              </div>
              <!--Properties Checkbox End-->
          </div>
          <!--Filter Widget Start-->
      </div>
  </div>
</div>
<!--Shop Area End-->
<!-- Categories Bottom Section Area Start-->
<div class="categories-bottom-area mb-50">
  <div class="container">
      <div class="row">
          <!--Section Title Start-->
          <div class="col-12">
              <div class="section-title text-center">
                  <h2>Categories</h2>
              </div>
          </div>
          <!--Section Title End-->
          <div class="bestselling-slider owl-carousel">
              <!--Slider Item 1-->
              <div class="item-group">
                  <a href="#">
                      <div class="item-img">									
                          <img src="assets/img/category/categories/categories1.png" alt="" />									
                      </div>
                  </a>
                  <div class="cat-title text-center">
                      Toys
                  </div>
              </div>
              <!--Slider Item 1-->
              <!--Slider Item 2-->
              <div class="item-group">
                  <a href="#">
                      <div class="item-img">									
                          <img src="assets/img/category/categories/categories2.png" alt="" />									
                      </div>
                  </a>
                  <div class="cat-title text-center">
                      Diapers
                  </div>
              </div>
              <!--Slider Item 2-->
              <!--Slider Item 3-->
              <div class="item-group">
                  <a href="#">
                      <div class="item-img">									
                          <img src="assets/img/category/categories/categories3.png" alt="" />									
                      </div>
                  </a>
                  <div class="cat-title text-center">
                      Shampoo
                  </div>
              </div>
              <!--Slider Item 3-->
              <!--Slider Item 4-->
              <div class="item-group">
                  <a href="#">
                      <div class="item-img">									
                          <img src="assets/img/category/categories/categories1.png" alt="" />									
                      </div>
                  </a>
                  <div class="cat-title text-center">
                      Toys
                  </div>
              </div>
              <!--Slider Item 4-->
          </div>
      </div>
  </div>
</div>
<!-- Categories Bottom Section Area End-->
 
