 
	<!--Policy Section Start-->	
  <section>
			<div class="policy-area bg-light">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 mtb-50">
							<div class="bg-white shadow p-0">
								<div class="policy-title bg-default info-title p-42">
									<h4 class="font-weight-bold text-white">Shipping & Delivery</h4>
								</div><!--Title End-->
								<div class="bg-white shadow p-4">
									<p class="text-justify"><b>What are the delivery charges?</b></p>
									<p class="text-justify">Delivery charge varies with each Seller.</p>
									<p class="text-justify">Sellers incur relatively higher shipping costs on low value items. In such cases, charging a nominal delivery charge helps them offset logistics costs. Please check your order summary to understand the delivery charges for individual products.</p>
									<p class="text-justify">For Products listed as F-Assured a Rs 40 charge for delivery per item is applied if the order value is less than Rs 500. While, orders of Rs 500 or above are delivered free.</p>
									
									<p class="text-justify"><b>Why does the delivery date not correspond to the delivery timeline of X-Y business days?</b></p>
									<p class="text-justify">It is possible that the Seller or our courier partners have a holiday between the day your placed your order and the date of delivery, which is based on the timelines shown on the product page. In this case, we add a day to the estimated date. Some courier partners and Sellers do not work on Sundays and this is factored in to the delivery dates.</p>
									
									<p class="text-justify"><b>What is the estimated delivery time?</b></p>
									<p class="text-justify">Sellers generally procure and ship the items within the time specified on the product page. Business days exclude public holidays and Sundays.</p>
									
									<p class="text-justify">Estimated delivery time depends on the following factors:</p>
									<div class="note">
										<ul class="icon-circle">
											<li>The Seller offering the product</li>
											<li>Product's availability with the Seller</li>
											<li>The destination to which you want the order shipped to and location of the Seller.</li>
										</ul><!--Note List End-->
									</div><!--Note Block End--><br>
									
									<p class="text-justify"><b>Are there any hidden costs (sales tax, octroi etc) on items sold by Sellers on Gaia Healthcare DMCC?</b></p>
									<p class="text-justify">There are NO hidden charges when you make a purchase on Gaia Healthcare DMCC. List prices are final and all-inclusive. The price you see on the product page is exactly what you would pay.</p>
									
									<p class="text-justify">Delivery charges are not hidden charges and are charged (if at all) extra depending on the Seller's shipping policy.</p>
									<p class="text-justify"><b>Why does the estimated delivery time vary for each seller?</b></p>
									<p class="text-justify">You have probably noticed varying estimated delivery times for sellers of the product you are interested in. Delivery times are influenced by product availability, geographic location of the Seller, your shipping destination and the courier partner's time-to-deliver in your location.</p>
									<p class="text-justify">Please enter your default pin code on the product page (you don't have to enter it every single time) to know more accurate delivery times on the product page itself.</p>
									<p class="text-justify"><b>Seller does not/cannot ship to my area. Why?</b></p>
									<p class="text-justify">Please enter your pincode on the product page (you don't have to enter it every single time) to know whether the product can be delivered to your location.</p>
									<p class="text-justify"><b>Why is the CoD option not offered in my location?</b></p>
									<p class="text-justify">Availability of CoD depends on the ability of our courier partner servicing your location to accept cash as payment at the time of delivery.</p>
									<p class="text-justify">Our courier partners have limits on the cash amount payable on delivery depending on the destination and your order value might have exceeded this limit. Please enter your pin code on the product page to check if CoD is available in your location.</p>
									<p class="text-justify"><b>I need to return an item, how do I arrange for a pick-up?</b></p>
									<p class="text-justify">Returns are easy. Contact Us to initiate a return. You will receive a call explaining the process, once you have initiated a return.</p>
									<p class="text-justify">Wherever possible Ekart Logistics will facilitate the pick-up of the item. In case, the pick-up cannot be arranged through Ekart, you can return the item through a third-party courier service. Return fees are borne by the Seller.</p>
									<p class="text-justify"><b>What do the different tags like "In Stock", "Available" mean?</b></p>
									<p class="text-justify"><b>'In Stock'</b></p>
									<p class="text-justify">FFor items listed as "In Stock", Sellers will mention the delivery time based on your location pincode (usually 2-3 business days, 4-5 business days or 4-6 business days in areas where standard courier service is available). For other areas, orders will be sent by Registered Post through the Indian Postal Service which may take 1-2 weeks depending on the location.</p>
									<p class="text-justify"><b>'Available'</b></p>
									<p class="text-justify">The Seller might not have the item in stock but can procure it when an order is placed for the item. The delivery time will depend on the estimated procurement time and the estimated shipping time to your location.</p>
									<p class="text-justify"><b>'Preorder' or 'Forthcoming'</b></p>
									<p class="text-justify">Such items are expected to be released soon and can be pre-booked for you. The item will be shipped to you on the day of it's official release launch and will reach you in 2 to 6 business days. The Preorder duration varies from item to item. Once known, release time and date is mentioned. (Eg. 5th May, August 3rd week)</p>
									<p class="text-justify"><b>'Out of Stock'</b></p>
									<p class="text-justify">Currently, the item is not available for sale. Use the 'Notify Me' feature to know once it is available for purchase.</p>
									<p class="text-justify"><b>'Imported'</b></p>
									<p class="text-justify">Sometimes, items have to be sourced by Sellers from outside India. These items are mentioned as 'Imported' on the product page and can take at least 10 days or more to be delivered to you.</p>
									<p class="text-justify"><b>'Back In Stock Soon'</b></p>
									<p class="text-justify">The item is popular and is sold out. You can however 'book' an order for the product and it will be shipped according to the timelines mentioned by the Seller.</p>
									<p class="text-justify"><b>'Temporarily Unavailable'</b></p>
									<p class="text-justify">The product is currently out of stock and is not available for purchase. The product could to be in stock soon. Use the 'Notify Me' feature to know when it is available for purchase.</p>
									<p class="text-justify"><b>'Permanently Discontinued'</b></p>
									<p class="text-justify">This product is no longer available because it is obsolete and/or its production has been discontinued.</p>
									<p class="text-justify"><b>'Out of Print'</b></p>
									<p class="text-justify">This product is not available because it is no longer being published and has been permanently discontinued.</p>						
									
									
								</div>
							</div><!--Background and Shadow End-->
						</div><!--Grid End-->
					</div><!--Row End-->
				</div><!--Container End-->
			</div><!--Policy Are End-->
    </section><!--Policy Section End-->	
    
    