 
<!--Store Locator Section Start-->	
 <section>
    <div class="store-locator bg-light">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 mtb-50">
            <div class="bg-white shadow p-0">
              <div class="policy-title bg-default info-title p-42">
                <h4 class="font-weight-bold text-white">Store Locator</h4>
              </div><!--Title End-->
              
            <div class="bg-white shadow p-4">
              <!--First Row Starts-->
              <div class="row">
                <!--Location One Starts-->
                <div class="col col-md-6">
                  <div class="store-information">
                    <div class="store-title">
                      <h4>Store information</h4>
                      <div class="communication-info">
                        <!--Single Communication Start-->
                        <div class="single-communication">
                          <div class="communication-icon">
                            <i class="zmdi zmdi-pin"></i>
                          </div>
                          <div class="communication-text">
                            <span>JBC 4, Office #2505, Cluster N, Jumeirah Lake Towers P.O. Box: 126513, Dubai – UAE </span>
                          </div>
                        </div>
                        <!--Single Communication End-->
                        <!--Single Communication Start-->
                        <div class="single-communication">
                          <div class="communication-icon">
                            <i class="zmdi zmdi-phone"></i>
                          </div>
                          <div class="communication-text">
                            <span>Call us: <br><a href="tel:97144517427">+971 4 451 7427</a></span>
                          </div>
                        </div>
                        <!--Single Communication End-->
                        <!--Single Communication Start-->
                        <div class="single-communication">
                          <div class="communication-icon">
                            <i class="zmdi zmdi-email"></i>
                          </div>
                          <div class="communication-text">
                            <span>Email us: <br><a href="mailto:info@gaiahealthcare.ae">info@gaiahealthcare.ae</a></span>
                          </div>
                        </div>
                        <!--Single Communication End-->
                      </div>
                    </div>
                  </div>
                </div><!--Location One End-->
                <!--Location One Starts-->
                <div class="col col-md-6">
                  <div class="store-information">
                    <div class="store-title">
                      <h4>Store information</h4>
                      <div class="communication-info">
                        <!--Single Communication Start-->
                        <div class="single-communication">
                          <div class="communication-icon">
                            <i class="zmdi zmdi-pin"></i>
                          </div>
                          <div class="communication-text">
                            <span>Vista Tower, Shop # 3, Next to Carrefour Market, Al Barsha 3, Tecom, Dubai</span>
                          </div>
                        </div>
                        <!--Single Communication End-->
                        <!--Single Communication Start-->
                        <div class="single-communication">
                          <div class="communication-icon">
                            <i class="zmdi zmdi-phone"></i>
                          </div>
                          <div class="communication-text">
                            <span>Call us: <br><a href="tel:97144475425">+971 4 447 5425</a></span>
                          </div>
                        </div>
                        <!--Single Communication End-->
                        <!--Single Communication Start-->
                        <div class="single-communication">
                          <div class="communication-icon">
                            <i class="zmdi zmdi-email"></i>
                          </div>
                          <div class="communication-text">
                            <span>Email us: <br><a href="mailto:peoplesphy@gaiahealthcare.ae">peoplesphy@gaiahealthcare.ae</a></span>
                          </div>
                        </div>
                        <!--Single Communication End-->
                      </div>
                    </div>
                  </div>
                </div><!--Location Two End-->
              </div><!--First Row End-->
              <!--Second Row Starts-->
              <div class="row">
                <!--Location Three Starts-->
                <div class="col col-md-6">
                  <div class="store-information">
                    <div class="store-title">
                      <h4>Store information</h4>
                      <div class="communication-info">
                        <!--Single Communication Start-->
                        <div class="single-communication">
                          <div class="communication-icon">
                            <i class="zmdi zmdi-pin"></i>
                          </div>
                          <div class="communication-text">
                            <span>JBC 5, Shop # 3, Cluster W, Jumeirah Lake Towers, Dubai, United Arab Emirates</span>
                          </div>
                        </div>
                        <!--Single Communication End-->
                        <!--Single Communication Start-->
                        <div class="single-communication">
                          <div class="communication-icon">
                            <i class="zmdi zmdi-phone"></i>
                          </div>
                          <div class="communication-text">
                            <span>Call us: <br><a href="tel:97144255844 ">+971 4 425 5844 </a></span>
                          </div>
                        </div>
                        <!--Single Communication End-->
                        <!--Single Communication Start-->
                        <div class="single-communication">
                          <div class="communication-icon">
                            <i class="zmdi zmdi-email"></i>
                          </div>
                          <div class="communication-text">
                            <span>Email us: <br><a href="mailto:alphaintlphy@gaiahealthcare.ae">alphaintlphy@gaiahealthcare.ae</a></span>
                          </div>
                        </div>
                        <!--Single Communication End-->
                      </div>
                    </div>
                  </div>
                </div><!--Location Three End-->
                <!--Location Four Starts-->
                <div class="col col-md-6">
                  <div class="store-information">
                    <div class="store-title">
                      <h4>Store information</h4>
                      <div class="communication-info">
                        <!--Single Communication Start-->
                        <div class="single-communication">
                          <div class="communication-icon">
                            <i class="zmdi zmdi-pin"></i>
                          </div>
                          <div class="communication-text">
                            <span>Zeenah Building, Shop # 10, Opp. Deira City Centre, Carrefour Parking # 3, Dubai – UAE</span>
                          </div>
                        </div>
                        <!--Single Communication End-->
                        <!--Single Communication Start-->
                        <div class="single-communication">
                          <div class="communication-icon">
                            <i class="zmdi zmdi-phone"></i>
                          </div>
                          <div class="communication-text">
                            <span>Call us: <br><a href="tel:97142567787">+971 4 256 7787</a></span>
                          </div>
                        </div>
                        <!--Single Communication End-->
                        <!--Single Communication Start-->
                        <div class="single-communication">
                          <div class="communication-icon">
                            <i class="zmdi zmdi-email"></i>
                          </div>
                          <div class="communication-text">
                            <span>Email us: <br><a href="mailto:alphapeoplesphy@gaiahealthcare.ae">alphapeoplesphy@gaiahealthcare.ae</a></span>
                          </div>
                        </div>
                        <!--Single Communication End-->
                      </div>
                    </div>
                  </div>
                </div><!--Location Four End-->
              </div><!--Second Row End-->
            </div>
              <div class="col-12 help-text">
                <div class="text-center">
                  <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.-->
                </div>
              </div>
            </div><!--Background and Shadow End-->
          </div><!--Grid End-->
        </div><!--Row End-->
      </div><!--Container End-->
    </div><!--Store Location Area End-->
  </section><!--Store Location Section Area End-->
 