 
<!--Breadcrumb Start--> 
<div class="breadcrumb-area">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="breadcrumb-content">
                  <ul>
                      <li><a href="index.html">MyAccount</a></li>
                      <li><a href="#">Orders</a></li>
                      <li class="active"><a href="#">OD01260541</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<!--Breadcrumb End-->
<!--Ordered Products 01 Starts-->
<div class="container mb-20 mt-20">
  <div class="order-history-area shadow">
    <div class="order-header-detail">
      <div class="row">
        <div class="col-6 col-md-5">
          <span>Order Placed</span><br>
          <span class="product-placed-date">
            <strong>21 June 2018</strong>
          </span>
        </div>
        <div class="col-6 col-md-5">
          <span>Order ID</span> <br/>
          <span class="order-id">
            <strong>OD001260541</strong>
          </span>
        </div>
        <div class="col-12 col-md-2">
          <span class="products-status">Delivered</span> <br/>
          <span class="product-placed-date">
            <strong>21 June 2018</strong>
          </span>
        </div>
      </div>
    </div><!--Order History Header End-->				
    <div class="order-body-detail">
      <div class="row">
        <div class="col-md-7">
          <div class="cust-details pl-15">
            <div class="cust-address-details">
              <h4><strong>Shipping Address</strong></h4>
              <span class="user-name">David</span><br>
              <span class="user-address">17 North Jennings Rd. Morrisville, USA, PA 19067</span>
            </div>
          </div>
        </div>
        <!--Print Invoice Starts-->
        <div class="col-md-5">
          <div class="order-history-links text-right pb-30">
            <a href="#" class="sp-block btn btn-light float-right" title="Print Invoice">Invoice</a>
          </div><!--Print Invoice End-->
        </div>
        <div class="col-md-5 offset-md-7">
          <!--Price Table Starts-->
          <div class="price-table">
            <div class="pricedetail-title mb-20">
              <h4>Order Summary</h4>
            </div>
            <!--Price Summary Starts-->
            <div class="price-list-group">
              <div class="sub-total">
                <div class="w-75">
                  <h5 class="font-weight-bold">Sub Total 
                    (<span class="cart-product-values">3</span>items)
                  </h5>
                </div>
                <div class="w-25 product-price">
                  <span class="price">AED 147</span>
                </div>
              </div>
            </div><!--Sub Total End-->
            <div class="price-list-group">
              <div class="w-75">
                <h5 class="font-weight-bold">Tax</h5>
              </div>
              <div class="w-25 product-price">
                <span class="price">AED 00</span>
              </div>
            </div><!--Tax End-->								
            <div class="price-list-group">
              <div class="w-75">
                <h5 class="font-weight-bold">Shipping (Free)</h5>
              </div>
              <div class="w-25 product-price">
                <span class="price">AED 00</span>
              </div>
            </div><!--Shipping End-->								
            <div class="price-list-group border-bottom">
              <div class="w-75">
                <h5 class="font-weight-bold">Discount</h5>
              </div>
              <div class="w-25 product-price">
                <span class="price">AED 00</span>
              </div>
            </div><!--Discount End-->
            <div class="price-list-group">
              <div class="w-75">
                <h5 class="font-weight-bold">Promotional Discount</h5>
              </div>
              <div class="w-25 product-price">
                <span class="price">AED 24</span>
              </div>
            </div><!--Promotional Discount End-->
            <div class="price-list-group border-bottom">
              <div class="w-75">
                <h5 class="font-weight-bold">Total</h5>
              </div>
              <div class="w-25 product-price">
                <span class="price">AED 123</span>
              </div>
            </div><!--Total End-->								
            <div class="price-list-group">
              <div class="w-75">
                <h5 class="font-weight-bold">Grand Total</h5>
              </div>
              <div class="w-25 product-price">
                <span class="price">AED 123</span>
              </div>
            </div><!--Grand Total End-->
          </div><!--Price Table End-->
        </div>
      </div>
    </div>
  </div>
</div><!--Ordered Products 01 Ends-->
<!--Ordered Products 02 Starts-->
<div class="container mb-20">
  <div class="order-history-area shadow">
    <div class="order-header-detail">
      <div class="row">
        <div class="col-6 col-md-3">
          <span>Order Placed</span><br>
          <span class="product-placed-date">
            <strong>02 May 2018</strong>
          </span>
        </div>
        <div class="col-6 col-md-3">
          <span>Grand Total</span><br>
          <span class="product-grandtotal">
            <strong>AED 38</strong>
          </span>
        </div>
        <div class="col-6 col-md-3">
          <span class="products-status">Delivered</span> <br/>
          <span class="product-placed-date">
            <strong>14 May 2018</strong>
          </span>
        </div>
        <div class="col-6 col-md-3">
          <span>Order ID</span><br>
          <span class="order-id">
            <strong>OD00126003</strong>
          </span>
        </div>
      </div>
    </div><!--Order History Header End-->			
    <div class="order-body-detail">
      <div class="order-history-list row">
        <div class="col-md-3 col-lg-2">
          <img src="img/single-product/related-products/item1.jpg" alt="" />
        </div>
        <div class="col-md-6 col-lg-7">
          <div class="single-product-content">
            <h4 class="single-product-name ">Shampoo Lavender (Double jasmine Flavour)</h4>
            <div class="single-product-price">
              <div class="product-discount">
                <span class="price">AED 36</span>
                <span class="regular-price">AED 54</span>
              </div>
            </div>								
            <div class="product-info">
              <p>Quantity: 1</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 pl-0">
          <ul class="order-history-links">
            <li><a href="#" title="Order Details">Order Details</a></li>
            <li><a href="#" title="Invoice">Invoice</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div><!--Ordered Products 02 End-->	
 